fastapi==0.115.6
fastapi[standard]
uvicorn[standard]==0.34.0
pdfplumber==0.11.9
requests==2.32.4
beautifulsoup4==4.12.3
pydantic==2.12.3
python-multipart==0.0.20
langchain_community
faiss-cpu==1.13.2
langchain==1.2.7
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.7
langchain-google-genai==4.2.0
langchain-text-splitters==1.1.0